h2#user(data-id=user._id.toString())= user.username
#stats
  #food.stat Food: #{user.food}
  #consumption.stat Consumption: #{user.consumption}
  #wood.stat Wood: #{user.wood.toFixed(1)}
  #ore.stat Ore: #{user.ore}
  #cash.stat Cash: $#{user.cash}
  button#showfarm Go To Farm
